.head-line {
    margin-top : 1em;
    display: flex;
    justify-content: center;
}
.head-line svg {
    width: 430px;
}
.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
    padding: 1em;

}
.menus button {
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover {
    background-color: beige;
}
.news-img-size {
    max-width:100%;
    max-height: 250px;
}
.news {
    border-bottom: 2px solid black;
    padding-bottom: 1em;
}
#search-input {
    border: 1px solid rgb(226,226,226);
    border-radius : 3px;
    height: 33px;
    
}
#input-area {
    display: none;
}
.search-button {
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    height: 33px;
    border-radius: 3px;
}
.side-menu {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    transition : 0.5s;
    padding-top: 60px;
    z-index: 1000;

}
.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
}
.closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    border: none;
    background: none;

}
.side-menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.side-menu-list button:hover {
    background-color: lightgoldenrodyellow;;
    border-radius: 3px;
}
.icon-button {
    padding: 8px 9px ;
    margin-top: 5px;
}
.icon-button:hover {
    background-color:beige
}
.hide {
    display: none;
}

@media screen and (max-width: 63rem) {
    .hide {
        display: inline;
    }
    .menus {
        display: none;
    }
}
.pagination-nav {
    display: flex;
    justify-content: center;
}
.pagination {
    margin-top: 1em;
}
.page-item.active .page-link{
    background-color: burlywood;
    color: white;
    border-color: burlywood;
}
.page-link {
    color:burlywood;
}